<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrimp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUcIIBJo7gUOQdhowEchpzZOCs0U5ETA8"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <!-- No intent-filter here -->
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <!-- No intent-filter here -->
        </activity>
        <activity
            android:name=".fragments.cuenta.admin_cuenta"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <!-- No intent-filter here -->
        </activity>
        <activity
            android:name=".fragments.cuenta.RegistroServiciosActivity"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <!-- No intent-filter here -->
        </activity>
        <activity
            android:name=".fragments.cuenta.DetalleRegistroActivity"
            android:exported="true"
            android:theme="@style/Theme.Shrimp">
            <!-- No intent-filter here -->
        </activity>
    </application>

</manifest>
